{
  "env": { "browser": true, "es2021": true },
  "extends": ["plugin:react/recommended", "plugin:tailwindcss/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "tailwindcss"],
  "rules": { "tailwindcss/classnames-order": "warn" }
}
